@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using plantCamera.Models.DataViewModels
@model IEnumerable<plantCamera.Models.DataViewModels.PhotoInformation>

<div class="main_container">
    <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a asp-controller="Home" asp-action="Index" class="site_title"><i class="fa fa-leaf"></i> <span>Plant Camera</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">
            <img src="~/images/user.png" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
            <span>欢迎您，</span>
            <h2>@ViewData["UserName"]</h2>
            </div>
        </div>
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
            <h3>主要功能</h3>
            <ul class="nav side-menu">
                <li><a asp-controller="Home" asp-action="Index"><i class="fa fa-desktop"></i> 主页 </a>
                </li>
                <li class="active"><a><i class="fa fa-camera"></i> 相册管理 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a asp-controller="Camera" asp-action="Album">我的相册</a></li>
                    <li><a asp-controller="Camera" asp-action="Upload">图片上传</a></li>
                </ul>
                </li>
                <li><a><i class="fa fa-map"></i> 地图显示 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a asp-controller="Map" asp-action="MyPhotoMap">个人足迹</a></li>
                    <li><a asp-controller="Map" asp-action="PlantMap">植物地图</a></li>
                    <li><a asp-controller="Map" asp-action="PlantSearch">植物检索</a></li>
                </ul>
                </li>
                <li><a><i class="fa fa-bar-chart-o"></i> 分析专题 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a asp-controller="Analysis" asp-action="Topic">分析专题</a></li>
                    <li><a asp-controller="Analysis" asp-action="PointsMap">观测站点</a></li>
                    <li><a asp-controller="Analysis" asp-action="stationsAnalysis">站点分析</a></li>
                </ul>
                </li>
                <li><a><i class="fa fa-cogs"></i> 个人设置 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a asp-controller="Manage" asp-action="ChangePassword">修改密码</a></li>
                    <li><a asp-controller="Manage" asp-action="ChangeProfile">修改头像</a></li>
                    <li><a asp-controller="Manage" asp-action="ConfirmEmail">邮箱绑定</a></li>
                </ul>
                </li>
            </ul>
            </div>
            <div class="menu_section">
            <h3>其他</h3>
            <ul class="nav side-menu">
                <li><a><i class="fa fa-bug"></i> 开发者 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a asp-controller="Developer" asp-action="Contact">联系我们</a></li>
                </ul>
                </li>       
                <li><a><i class="fa fa-tasks"></i> 高级功能 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a asp-controller="Developer" asp-action="DataReview">数据审查</a></li>
                    <li><a asp-controller="Developer" asp-action="UsersManage">用户管理</a></li>
                    <li><a asp-controller="Developer" asp-action="DataOutput">数据导出</a></li>
                </ul>
                </li>       
                <li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> 拓展功能 <span class="label label-success pull-right">建设中</span></a></li>
            </ul>
            </div>

        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="注销" asp-controller="Account" asp-action="Login">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
        </div>
    </div>

    <!-- top navigation -->
    <div class="top_nav">
        <div class="nav_menu">
            <nav>
                <div class="nav toggle">
                    <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <img src="~/images/user.png" alt="">@ViewData["UserName"]
                        <span class="fa fa-angle-down"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li>
                            <a>
                            <span class="badge bg-red pull-right">50%</span>
                            <span>帮助</span>
                            </a>
                        </li>
                        <li><a asp-controller="Account" asp-action="Login"><i class="fa fa-sign-out pull-right"></i>注销</a></li>
                        </ul>
                    </li>

                    <li role="presentation" class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-envelope-o"></i>
                        <span class="badge bg-green">1</span>
                        </a>
                        <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                        <li>
                            <a>
                            <span class="image"><img src="~/images/user.png" alt="Profile Image" /></span>
                            <span>
                                <span>管理员</span>
                                <span class="time">3分钟前</span>
                            </span>
                            <span class="message">
                                您有新的消息，请及时查看
                            </span>
                            </a>
                        </li>
                        <li>
                            <div class="text-center">
                            <a>
                                <strong>查看所有消息</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                            </div>
                        </li>
                        </ul>
                    </li>
                    <li style="padding-top:14px;">
                        <div id="tp-weather-widget" style="margin-right:10px;"></div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- /top navigation -->

    <!-- page content -->
    <div class="right_col" role="main">
        <div class="page-title">
            <div class="title_left">
                <h3></h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                    <input type="text" class="form-control" placeholder="请输入搜索内容">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                    </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="margin-bottom:60px;">
                    <div class="x_title">
                        <h2 style="margin-top:10px;">我的相册</h2>
                        <ul class="nav navbar-right panel_toolbox" style="margin-top:2px;">
                            <a class="popup-with-form" href="#test-form">
                                <button type="button" class="btn btn-round btn-success"><small><i class="fa fa-plus"></i> 添加相册</small></button>
                            </a>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">
                        <div class="row">
                            <div class="col-xs-2">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs tabs-left" id="album-nav">
                                    <li class="active" id="nav-default"><a href="#default-all" data-toggle="tab"><i class="fa fa-bars"></i> 全部相册</a></li>
                                    @foreach(var item in ViewBag.AlbumList as List<AlbumB>)
                                    {
                                        <li><a href="#album-@item.AlbumsName" data-toggle="tab" id="tab-@item.AlbumsName"><i class="fa fa-circle-o"></i> @item.AlbumsName</a></li>
                                    }
                                </ul>
                            </div>
                            <div class="col-xs-10">
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="default-all">
                                        <div class="grid tm-gallery" id="album-gallery">
                                            @foreach(var item in ViewBag.AlbumList as List<AlbumB>)
                                            {
                                                <figure class="effect-bubba" id="cover-@item.AlbumsName">
                                                    <img src="@item.CoverLink" alt="album-default" class="img-fluid">
                                                    <figcaption>
                                                        <h2>@item.AlbumsName</h2>
                                                        <p>@item.AlbumText</p>
                                                        <p>创建于 @item.AlbumTime</p>
                                                    </figcaption>
                                                </figure>
                                            }                              
                                        </div>
                                    </div>
                                    @foreach(var item in ViewBag.AlbumList as List<AlbumB>)
                                    {
                                        if(item.AlbumsName == "默认相册")
                                        {
                                            <div class="tab-pane" id="album-@item.AlbumsName">
                                                <div class="row">
                                                    <div class="col-md-11 col-sm-11 col-xs-11">
                                                        <div class="popup-gallery" id="album-left-@item.AlbumsName">
                                                            @foreach(var u in Model)
                                                            {
                                                                if(u.AlbumName == @item.AlbumsName)
                                                                {
                                                                    <div class="col-md-3 col-sm-6 col-xs-12 album-photo">
                                                                        <div class="album-photo-font">
                                                                            <a href="@u.PhotoLink" title=""><img src="@u.PhotoLink"></a>
                                                                        </div>
                                                                        <div class="album-photo-left">
                                                                            <p>@Html.DisplayFor(modelItem => u.PhotoPlant)</p>
                                                                        </div>
                                                                        <div class="album-photo-right">
                                                                            <button class="btn btn-xs photo-btn" type="button" data-toggle="tooltip" data-placement="left" title="删除图片" onclick="photoDelete('@u.PhotoInformationId');"><i class="fa fa-trash-o"></i></button>
                                                                        </div>
                                                                    </div>
                                                                }                               
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1 col-sm-1 col-xs-1"></div>
                                                </div>
                                            </div>
                                        }else{
                                            <div class="tab-pane" id="album-@item.AlbumsName">
                                                <div class="row">
                                                    <div class="col-md-11 col-sm-11 col-xs-11">
                                                        <div class="popup-gallery" id="album-left-@item.AlbumsName">
                                                            @foreach(var u in Model)
                                                            {
                                                                if(u.AlbumName == @item.AlbumsName)
                                                                {
                                                                    <div class="col-md-3 col-sm-6 col-xs-12 album-photo">
                                                                        <div class="album-photo-font">
                                                                            <a href="@u.PhotoLink" title=""><img src="@u.PhotoLink"></a>
                                                                        </div>
                                                                        <div class="album-photo-left">
                                                                            <p>@Html.DisplayFor(modelItem => u.PhotoPlant)</p>
                                                                        </div>
                                                                        <div class="album-photo-right">
                                                                            <button class="btn btn-xs photo-btn" type="button" data-toggle="tooltip" data-placement="left" title="删除图片" onclick="photoDelete('@u.PhotoInformationId');"><i class="fa fa-trash-o"></i></button>
                                                                        </div>
                                                                    </div>
                                                                }                               
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1 col-sm-1 col-xs-1">
                                                        <div id="album-btn" class="btn-group-vertical">
                                                            <button class="btn btn-default" type="button" data-toggle="tooltip" data-placement="left" title="修改相册名" onclick="albumChange('@item.AlbumBId','@item.AlbumsName');"><i class="fa fa-pencil-square-o"></i></button>
                                                            <button class="btn btn-default" type="button" data-toggle="tooltip" data-placement="left" title="删除相册" onclick="albumDelete('@item.AlbumBId','@item.AlbumsName');"><i class="fa fa-trash-o"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->

    <!-- footer content -->
    <footer class="navbar-fixed-bottom">
        <div class="pull-right">
        plantCamera - OUC MIT Lab</a>
        </div>
        <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
</div>
<form id="test-form" class="white-popup-block mfp-hide" asp-controller="Camera" asp-action="Album" method="POST">
	<div class="x_title">
        <h2 style="color:#1ABB9C;"><i class="fa fa-plus"></i> 添加相册</h2>
        <div class="clearfix"></div>
    </div>
	<fieldset>
		<div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">相册名称</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <input type="text" class="form-control" name="name">
            </div>
        </div>
        <br />
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">相册简介</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <textarea class="form-control" rows="6" name="text"></textarea>
            </div>
        </div>
	</fieldset>
    <div class="form-group">
        <div style="text-align:center;margin-top:20px;">
            <button id="album-reset" type="reset" class="btn btn-round btn-primary">重置</button>
            <button id="album-submit" type="submit" class="btn btn-round btn-success">提交</button>
        </div>
    </div>
</form>
<div hidden id="addResult">@ViewBag.addResult</div>
@section Scripts {
    <script type="text/javascript">
        var loadli = "";
        $(function() {
            $(".popup-gallery").on("click",".photo-btn",function(e){
                var str = $(this).attr("id");
                var idstr = str.split("-");
                var phoid = new Number(idstr[1]); 
                $.ajax({
                    type: "POST",
                    url: "DeletePhoto",
                    contentType: "application/json",
                    data: phoid,
                    dataType: "json",
                    success: function (response){
                        if(response !== null){
                            swal({
                                text: response,
                                type: "error",
                                confirmButtonText: "确定",
                                confirmButtonColor: "#1ABB9C"
                            });
                        }
                    }
                });
            });

            $('.effect-bubba').on("click",function(e){
                var str = $(this).attr("id");
                var idstr = str.split("-");
                var tabid = "#tab-" + idstr[1];
                $(tabid).click();
            });

            $('.popup-with-form').magnificPopup({
                type: 'inline',
                preloader: false,
                focus: '#name',

                // When elemened is focused, some mobile browsers in some cases zoom in
                // It looks not nice, so we disable it:
                callbacks: {
                    beforeOpen: function() {
                        if($(window).width() < 700) {
                            this.st.focus = false;
                        } else {
                            this.st.focus = '#name';
                        }
                    }
                }
            });

            $('.popup-gallery').magnificPopup({
                delegate: 'a',
                type: 'image',
                tLoading: 'Loading image #%curr%...',
                mainClass: 'mfp-img-mobile',
                gallery: {
                    enabled: true,
                    navigateByImgClick: true,
                    preload: [0,1]
                },
                image: {
                    tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
                    titleSrc: function(item) {
                        return '日本樱花' + '<small>开花末期</small>';
                    }
                }
            });

            //验证信息
            var validation = $("#addResult").text();
            if(validation === "添加成功"){
                $(".mfp-close").click();
                swal({
                    text: validation,
                    type: "success",
                    confirmButtonText: "确定",
                    confirmButtonColor: "#1ABB9C"
                });
                $("#AlbumsName").val("");
                $("#AlbumText").val("");
            }else if(validation !== ""){
                $(".mfp-close").click();
                swal({
                    text: validation,
                    type: "error",
                    confirmButtonText: "确定",
                    confirmButtonColor: "#1ABB9C"
                });
                $("#AlbumsName").val("");
                $("#AlbumText").val("");
            }
        });

        function albumDelete(id,name){
            var str = "确认要删除 " + name + " 吗？";
            swal({
                text: str,
                type: "warning",
                showCancelButton: true,
                confirmButtonText: "确定",
                confirmButtonColor: "#1ABB9C",
                cancelButtonText: "取消",
            }).catch(swal.noop).then(function(isConfirm){
                if(isConfirm === true){
                    $.ajax({
                        type: "POST",
                        url: "DeleteAlbum",
                        contentType: "application/json",
                        data: id,
                        dataType: "json",
                        success: function (response) {
                            if(response == "出错了"){
                                swal({
                                    text: response,
                                    type: "error",
                                    confirmButtonText: "确定",
                                    confirmButtonColor: "#1ABB9C"
                                });
                            }else{
                                window.location.href = response;
                            }
                        }
                    });
                }else{
                    swal.close();
                }
            });
        }

        function albumChange(id,name)
        {
            var str = "修改相册 " + name + " 为：";
            swal({
                title: str,
                input: "text",
                inputPlaceholder: "请输入修改后的相册名",
                showCancelButton: true,
                confirmButtonText: "确定",
                confirmButtonColor: "#1ABB9C",
                cancelButtonText: "取消",
                preConfirm: () =>{
                    return new Promise((resolve) => {
                        setTimeout(() => {
                            resolve()
                        }, 2000)
                    })
                },
                showLoaderOnConfirm: true,
                allowOutsideClick: false
            }).catch(swal.noop).then(function(result){
                if(result != null){
                    var data = {
                        aid: id,
                        preName: name,
                        postName: result
                    };

                    $.ajax({
                        type: "POST",
                        url: "ChangeAlbum",
                        contentType: "application/json",
                        data: JSON.stringify(data),
                        dataType: "json",
                        success: function (response) {
                            if(response == "出错了" || response == "相册名重复"){
                                swal({
                                    text: response,
                                    type: "error",
                                    confirmButtonText: "确定",
                                    confirmButtonColor: "#1ABB9C"
                                });
                            }else{
                                window.location.href = response;
                            }
                        }
                    });
                }else{
                    swal.close();
                }
            });
        }

        function photoDelete(id)
        {
            var str = "确认要删除该图片吗？";
            swal({
                text: str,
                type: "warning",
                showCancelButton: true,
                confirmButtonText: "确定",
                confirmButtonColor: "#1ABB9C",
                cancelButtonText: "取消",
            }).catch(swal.noop).then(function(isConfirm){
                if(isConfirm === true){
                    $.ajax({
                        type: "POST",
                        url: "DeletePhoto",
                        contentType: "application/json",
                        data: id,
                        dataType: "json",
                        success: function (response){
                            if(response == "出错了"){
                                swal({
                                    text: response,
                                    type: "error",
                                    confirmButtonText: "确定",
                                    confirmButtonColor: "#1ABB9C"
                                });
                            }else{
                                window.location.href = response;
                            }
                        }
                    });
                }else{
                    swal.close();
                }
            });
        }
    </script>
}