<div class="main_container">
    <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a asp-controller="Home" asp-action="Index" class="site_title"><i class="fa fa-leaf"></i> <span>Plant Camera</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">
            <img src="~/images/user.png" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
            <span>欢迎您，</span>
            <h2>@ViewData["UserName"]</h2>
            </div>
        </div>
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
            <h3>主要功能</h3>
            <ul class="nav side-menu">
                <li><a asp-controller="Home" asp-action="Index"><i class="fa fa-desktop"></i> 主页 </a>
                </li>
                <li><a><i class="fa fa-camera"></i> 相册管理 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a asp-controller="Camera" asp-action="Album">我的相册</a></li>
                    <li><a asp-controller="Camera" asp-action="Upload">图片上传</a></li>
                </ul>
                </li>
                <li><a><i class="fa fa-map"></i> 地图显示 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a asp-controller="Map" asp-action="MyPhotoMap">个人足迹</a></li>
                    <li><a asp-controller="Map" asp-action="PlantMap">植物地图</a></li>
                    <li><a asp-controller="Map" asp-action="PlantSearch">植物检索</a></li>
                </ul>
                </li>
                <li class="active"><a><i class="fa fa-bar-chart-o"></i> 分析专题 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a asp-controller="Analysis" asp-action="Topic">分析专题</a></li>
                    <li><a asp-controller="Analysis" asp-action="PointsMap">观测站点</a></li>
                    <li><a asp-controller="Analysis" asp-action="stationsAnalysis">站点分析</a></li>
                </ul>
                </li>
                <li><a><i class="fa fa-cogs"></i> 个人设置 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a asp-controller="Manage" asp-action="ChangePassword">修改密码</a></li>
                    <li><a asp-controller="Manage" asp-action="ChangeProfile">修改头像</a></li>
                    <li><a asp-controller="Manage" asp-action="ConfirmEmail">邮箱绑定</a></li>
                </ul>
                </li>
            </ul>
            </div>
            <div class="menu_section">
            <h3>其他</h3>
            <ul class="nav side-menu">
                <li><a><i class="fa fa-bug"></i> 开发者 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a asp-controller="Developer" asp-action="Contact">联系我们</a></li>
                </ul>
                </li> 
                <li><a><i class="fa fa-tasks"></i> 高级功能 <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a asp-controller="Developer" asp-action="DataReview">数据审查</a></li>
                    <li><a asp-controller="Developer" asp-action="UsersManage">用户管理</a></li>
                    <li><a asp-controller="Developer" asp-action="DataOutput">数据导出</a></li>
                </ul>
                </li>             
                <li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> 拓展功能 <span class="label label-success pull-right">建设中</span></a></li>
            </ul>
            </div>

        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="注销" asp-controller="Account" asp-action="Login">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
        </div>
    </div>

    <!-- top navigation -->
    <div class="top_nav">
        <div class="nav_menu">
            <nav>
                <div class="nav toggle">
                    <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <img src="~/images/user.png" alt="">@ViewData["UserName"]
                        <span class="fa fa-angle-down"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li>
                            <a href="javascript:;">
                            <span class="badge bg-red pull-right">50%</span>
                            <span>帮助</span>
                            </a>
                        </li>
                        <li><a asp-controller="Account" asp-action="Login"><i class="fa fa-sign-out pull-right"></i>注销</a></li>
                        </ul>
                    </li>

                    <li role="presentation" class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-envelope-o"></i>
                        <span class="badge bg-green">1</span>
                        </a>
                        <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                        <li>
                            <a>
                            <span class="image"><img src="~/images/user.png" alt="Profile Image" /></span>
                            <span>
                                <span>管理员</span>
                                <span class="time">3分钟前</span>
                            </span>
                            <span class="message">
                                您有新的消息，请及时查看
                            </span>
                            </a>
                        </li>
                        <li>
                            <div class="text-center">
                            <a>
                                <strong>查看所有消息</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                            </div>
                        </li>
                        </ul>
                    </li>
                    <li style="padding-top:14px;">
                        <div id="tp-weather-widget" style="margin-right:10px;"></div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- /top navigation -->

    <!-- page content -->
    <div class="right_col" role="main"> 
        <!-- point select -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="">
                    <div class="x_content">
                        <br />
                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" asp-controller="Analysis" asp-action="PointsMap" method="POST">
                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">站点名称<span class="required">*</span></label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <select id="city" name="city" class="select2_group form-control">
                                        <optgroup label="北京">
                                            <option value="北京" selected>北京</option>
                                        </optgroup>
                                        <optgroup label="上海">
                                            <option value="上海">上海</option>
                                        </optgroup>
                                        <optgroup label="重庆">
                                            <option value="重庆">重庆</option>
                                        </optgroup>
                                        <optgroup label="安徽">
                                            <option value="芜湖">芜湖</option>
                                            <option value="合肥">合肥</option>
                                        </optgroup>
                                        <optgroup label="福建">
                                            <option value="福州">福州</option>
                                        </optgroup>
                                        <optgroup label="宁夏回族自治区">
                                            <option value="银川">银川</option>
                                        </optgroup>
                                        <optgroup label="甘肃">
                                            <option value="民勤">民勤</option>
                                        </optgroup>
                                        <optgroup label="广东">
                                            <option value="佛山">佛山</option>
                                        </optgroup>
                                        <optgroup label="广西壮族自治区">
                                            <option value="桂林">桂林</option>
                                            <option value="柳州">柳州</option>
                                        </optgroup>
                                        <optgroup label="贵州">
                                            <option value="贵阳">贵阳</option>
                                        </optgroup>
                                        <optgroup label="河北">
                                            <option value="承德">承德</option>
                                            <option value="保定">保定</option>
                                            <option value="秦皇岛">秦皇岛</option>
                                            <option value="易县">易县</option>
                                        </optgroup>
                                        <optgroup label="河南">
                                            <option value="洛阳">洛阳</option>
                                        </optgroup>
                                        <optgroup label="黑龙江">
                                            <option value="哈尔滨">哈尔滨</option>
                                            <option value="德都">五大连池（德都）</option>
                                            <option value="牡丹江">牡丹江</option>
                                            <option value="佳木斯">佳木斯</option>
                                            <option value="嫩江">嫩江</option>
                                        </optgroup>
                                        <optgroup label="湖北">
                                            <option value="武汉">武汉</option>
                                        </optgroup>
                                        <optgroup label="湖南">
                                            <option value="长沙">长沙</option>
                                            <option value="常德">常德</option>
                                        </optgroup>
                                        <optgroup label="吉林">
                                            <option value="长春">长春</option>
                                        </optgroup>
                                        <optgroup label="江苏">
                                            <option value="南京">南京</option>
                                            <option value="扬州">扬州</option>
                                            <option value="镇江">镇江</option>
                                            <option value="盐城">盐城</option>
                                        </optgroup>
                                        <optgroup label="江西">
                                            <option value="南昌">南昌</option>
                                            <option value="赣县">赣县</option>
                                        </optgroup>
                                        <optgroup label="辽宁">
                                            <option value="沈阳">沈阳</option>
                                            <option value="盖州">盖州</option>
                                        </optgroup>
                                        <optgroup label="内蒙古自治区">
                                            <option value="呼和浩特">呼和浩特</option>
                                        </optgroup>
                                        <optgroup label="山东">
                                            <option value="德州">德州</option>
                                            <option value="聊城">聊城</option>
                                            <option value="泰安">泰安</option>
                                        </optgroup>
                                        <optgroup label="陕西">
                                            <option value="西安">西安</option>
                                        </optgroup>
                                        <optgroup label="四川">
                                            <option value="仁寿">仁寿</option>
                                        </optgroup>
                                        <optgroup label="云南">
                                            <option value="昆明">昆明</option>
                                            <option value="勐腊">勐腊</option>
                                        </optgroup>
                                        <optgroup label="浙江">
                                            <option value="杭州">杭州</option>
                                            <option value="鄞县">鄞县</option>
                                        </optgroup>
                                    </select>
                                </div>
                                <label class="control-label col-md-1 col-sm-1 col-xs-12" for="last-name">植物种类<span class="required">*</span>
                                </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <select id="species" name="species" class="form-control"></select>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:center;">
                                    <button id="submit" type="submit" value="Submit" class="btn btn-success">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /point select -->
        <div id="main-chart" style="width:950px;height:550px;margin-left:100px;margin-top:10px;"></div>
    </div>
    <!-- /page content -->

    <!-- footer content -->
    <footer class="navbar-fixed-bottom">
        <div class="pull-right">
        plantCamera - OUC MIT Lab</a>
        </div>
        <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
</div>

@section Scripts {
    <script type="text/javascript">
        $(function() {
            $('#city').change(function(){
                $("#species").empty();
                if($('#city').val() != null){
                    var data = {
                        "city" : $('#city').val()
                    };
                    $.ajax({
                        type: "POST",
                        url: "GetSpeciesListAsync",
                        contentType: "application/json",
                        data:JSON.stringify(data),
                        dataType: "text",
                        success: function (result){
                            speciesList(result);
                        }
                    });
                }
            });
            if('@Html.Raw(@ViewBag.City)' == '')
            {
                initForm();
            }else{
                $('#city option[value=@Html.Raw(@ViewBag.City)]').attr("selected","selected");
                var result = '@Html.Raw(@ViewBag.citySpecies)';
                speciesList(result);
                $('#species option[value=@Html.Raw(@ViewBag.Species)]').attr("selected","selected");
            }

            initEcharts();
        });

        function initForm()
        {
            $('#city option[value="北京"]').attr("selected","selected");
            var result = '@Html.Raw(@ViewBag.citySpecies)';
            speciesList(result);
            $('#species option[value="侧柏"]').attr("selected","selected");
        }

        function speciesList(result)
        {
            $.each(JSON.parse(result), function(Map, element){
                if(element.species != null){
                    var optionstr = "<option value='" + element.species + "'>" + element.species + "</option>";
                    $("#species").append(optionstr);
                }
            });
        }

        function initEcharts()
        {
            var datax=[];//设置x轴
            for(var i=1963;i<=2008;i++){
                    b=i+'年';
                    datax.push(b);
            };
            var datay=[];//设置y轴
            for(var i=1;i<13;i++){
                for(var j=1;j<32;j++){
                    b=i+'月'+j+'日';
                    datay.push(b);
                    if (i==2 && j==28){break;};
                    if((i==1 || i==3 || i==5 || i==7 || i==8 || i==10 || i==12 )&& j==31){break;};
                    if((i==4||i==6||i==9||i==11)&&j==30){break;};
                };
            };

            var dataall=@Html.Raw(@ViewBag.onlyPlant);//给曲线传入数据
            var data1=[];
            for(var i= 0;i<dataall.length;i++){
                if(dataall[i].datax1=="")continue;
                data1.push([dataall[i].datay, dataall[i].datax1]);
            };
            var data2=[];
            for(var i= 0;i<dataall.length;i++){
                if(dataall[i].datax2=="")continue;
                data2.push([dataall[i].datay, dataall[i].datax2]);
            };
            var data3=[];
            for(var i= 0;i<dataall.length;i++){
                if(dataall[i].datax3=="")continue;
                data3.push([dataall[i].datay, dataall[i].datax3]);
            };
            var data4=[];
            for(var i= 0;i<dataall.length;i++){
                if(dataall[i].datax4=="")continue;
                data4.push([dataall[i].datay, dataall[i].datax4]);
            };
            var data5=[];
            for(var i= 0;i<dataall.length;i++){
                if(dataall[i].datax5=="")continue;
                data5.push([dataall[i].datay, dataall[i].datax5]);
            };
            var data6=[];
            for(var i= 0;i<dataall.length;i++){
                if(dataall[i].datax6=="")continue;
                data6.push([dataall[i].datay, dataall[i].datax6]);
            };
            var data7=[];
            for(var i= 0;i<dataall.length;i++){
                if(dataall[i].datax7=="")continue;
                data7.push([dataall[i].datay, dataall[i].datax7]);
            };
            var data8=[];
            for(var i= 0;i<dataall.length;i++){
                if(dataall[i].datax8=="")continue;
                data8.push([dataall[i].datay, dataall[i].datax8]);
            };
            var data9=[];
            for(var i= 0;i<dataall.length;i++){
                if(dataall[i].datax9=="")continue;
                data9.push([dataall[i].datay, dataall[i].datax9]);
            };
            var data10=[];
            for(var i= 0;i<dataall.length;i++){
                if(dataall[i].datax10=="")continue;
                data10.push([dataall[i].datay, dataall[i].datax10]);
            };
            var data11=[];
            for(var i= 0;i<dataall.length;i++){
                if(dataall[i].datax11=="")continue;
                data11.push([dataall[i].datay, dataall[i].datax11]);
            };
            var data12=[];
            for(var i= 0;i<dataall.length;i++){
                if(dataall[i].datax12=="")continue;
                data12.push([dataall[i].datay, dataall[i].datax12]);
            };
            var data13=[];
            for(var i= 0;i<dataall.length;i++){
                if(dataall[i].datax13=="")continue;
                data13.push([dataall[i].datay, dataall[i].datax13]);
            };
            var data14=[];
            for(var i= 0;i<dataall.length;i++){
                if(dataall[i].datax14=="")continue;
                data14.push([dataall[i].datay, dataall[i].datax14]);
            };
            var data15=[];
            for(var i= 0;i<dataall.length;i++){
                if(dataall[i].datax15=="")continue;
                data15.push([dataall[i].datay, dataall[i].datax15]);
            };
            var data16=[];
            for(var i= 0;i<dataall.length;i++){
                if(dataall[i].datax16=="")continue;
                data16.push([dataall[i].datay, dataall[i].datax16]);
            };
            var data17=[];
            for(var i= 0;i<dataall.length;i++){
                if(dataall[i].datax17=="")continue;
                data17.push([dataall[i].datay, dataall[i].datax17]);
            };
            var data18=[];
            for(var i= 0;i<dataall.length;i++){
                if(dataall[i].datax18=="")continue;
                data18.push([dataall[i].datay, dataall[i].datax18]);
            };


            
            if('@Html.Raw(@ViewBag.City)'==''){
                var a='北京';
                var b='侧柏';
            }
            else{
                var a='@Html.Raw(@ViewBag.City)';
                var b='@Html.Raw(@ViewBag.Species)';
            }
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('main-chart'));
            // 指定图表的配置项和数据
        
            var option = {
                title : {
                    text:a+'市'+b+'生长情况时间分布图',
                },
                legend: {
                    type:'scroll',
                    orient: 'vertical',
                    right: 10,
                    top: 60,
                    bottom: 20,
                    itemGap:14,
                    data:['叶芽开始膨大期','叶芽开放期','花芽开始膨大期','花芽开放期','开始展叶期','展叶盛期','花序或花蕾出现期','开花始期','开花盛期','开花末期','第二次开花期','果实成熟期','果实脱落开始期','果实脱落末期','叶开始变色期','叶全部变色期','开始落叶期','落叶末期']
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross'
                    },
                    backgroundColor: 'rgba(245, 245, 245, 0.8)',
                    borderWidth: 1,
                    borderColor: '#ccc',
                    padding: 10,
                    textStyle: {
                        color: '#000'
                    },
                    extraCssText: 'width: 255px'
                    //formatter: "<b>{a}</b></br>时间 : {c}"
                },
                toolbox: {
                    right:20,
                    itemGap:15,
                    feature: {
                        dataZoom: {}, 
                        restore: {},
                        saveAsImage: {}
                    }
                },
                grid: {
                    left: '3%',
                    right: '18%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: {
                    type: 'category',
                    data:datax
                },
                yAxis: {
                    type: 'category',
                    max:function(value) {
                        return value.max + 1;
                    },
                    min: function(value) {
                        return value.min ;
                    },
                    /*axisLine:{
                        symbol:['none', 'arrow']
                    },
                    
                    axisLine: {onZero: false},
                    axisLabel: {
                        formatter: '{value} 年'
                    },
                    boundaryGap: false,
                    min:'dataMin',
                    max:function(value) {
                        return value.max + 2;
                    },
                minInterval: 1,*/
                    data:datay
                    //data: [0, 1980, 1982, 1984, 1986, 1988, 1990, 1992, 1994, 1996, 1998, 2000, 2002, 2004, 2006]
                },
                series: [
                    {
                        name: '叶芽开始膨大期',
                        type: 'line',
                        center: ['40%', '50%'],
                        smooth: true,
                        itemStyle:{
                            normal: {
                                //color:'#1874CD',
                                lineStyle: {                      
                                    width: 3,
                                    //color:'#1874CD',
                                    shadowColor: 'rgba(0,0,0,0.4)',
                                    shadowBlur: 10,
                                    shadowOffsetY: 10                          
                                }
                            }   
                        },
                        //dimensions: ['data', 'year'],
                        /*encode: {
                            x: 0,      // 表示维度 3、1、5 映射到 x 轴。
                            y: 1,           // 表示维度 2 映射到 y 轴。
                            tooltip: [0,1] // 表示维度 3、2、4 会在 tooltip 中显示。
                        },*/
                        data:data1
                        //data:[['1月21日','1981年'],['1月22日','1982年'],['1月23日','1983年'],['1月27日','1984年'],['1月25日','1988年'],['1月25日','1989年'],['1月27日','1990年'],['1月29日','1995年'],['1月30日','2000年']]
                    
                    },
                    {
                        name: '叶芽开放期',
                        type: 'line',
                        center: ['40%', '50%'],
                        smooth: true,
                        lineStyle: {
                            normal: {
                                width: 3,
                                //color:'#71C671',
                                shadowColor: 'rgba(0,0,0,0.4)',
                                shadowBlur: 10,
                                shadowOffsetY: 10
                            }
                        },
                    data:data2
                    //data:[{'1月21日',1981},{'1月22日',1982},{'1月23日',1983},{'1月27日',1984},['1月25日',1988],['1月25日',1989],['1月27日',1990],['1月29日',1995],['1月30日',2000]]
                    },
                    {
                        name: '花芽开始膨大期',
                        type: 'line',
                        center: ['40%', '50%'],
                        smooth: true,
                        lineStyle: {
                            normal: {
                                width: 3,
                                //color:'#C0FF3E',
                                shadowColor: 'rgba(0,0,0,0.4)',
                                shadowBlur: 10,
                                shadowOffsetY: 10
                            }
                        },
                    
                        data:data3
                        //data:[['1月21日',1982],['1月22日',1983],['1月23日',1983],['1月25日',1988],['1月25日',1989],['1月27日',1990],['1月29日',1995],['1月30日',2000]]                
                    },
                    {
                        name: '花芽开放期',
                        type: 'line',
                        smooth: true,
                        lineStyle: {
                            normal: {
                                width: 3,
                                //color:'#EE6A50',
                                shadowColor: 'rgba(0,0,0,0.4)',
                                shadowBlur: 10,
                                shadowOffsetY: 10
                            }
                        },
                        data:data4
                        //data:[['1月21日',2001],['1月22日',2002],['1月23日',2003],['1月27日',2004],['1月25日',2005],['1月25日',2006],['1月27日',2007],['1月29日',2008],['1月30日',2009]]
                    },
                    {
                        name: '开始展叶期',
                        type: 'line',
                        smooth: true,
                        itemStyle:{
                            normal: {
                                //color:'#1874CD',
                                lineStyle: {                      
                                    width: 3,
                                    //color:'#1874CD',
                                    shadowColor: 'rgba(0,0,0,0.4)',
                                    shadowBlur: 10,
                                    shadowOffsetY: 10                          
                                }
                            }   
                        },
                        data:data5
                        //data:[['1月21日',1982],['1月22日',1983],['1月23日',1983],['1月27日',1984],['1月25日',1988],['1月25日',1989],['1月27日',1990],['1月29日',1995],['1月30日',2000]]
                    },
                    {
                        name: '展叶盛期',
                        type: 'line',
                        smooth: true,
                        itemStyle:{
                            normal: {
                                //color:'#1874CD',
                                lineStyle: {                      
                                    width: 3,
                                    //color:'#1874CD',
                                    shadowColor: 'rgba(0,0,0,0.4)',
                                    shadowBlur: 10,
                                    shadowOffsetY: 10                          
                                }
                            }   
                        },
                        data:data6
                        //data:[['1月21日',1991],['1月22日',1992],['1月23日',1993],['1月27日',1994],['1月25日',1995],['1月25日',1996],['1月27日',1997],['1月29日',1998],['1月30日',2005]]
                    },
                    {
                        name: '花序或花蕾出现期',
                        type: 'line',
                        smooth: true,
                        itemStyle:{
                            normal: {
                                //color:'#1874CD',
                                lineStyle: {                      
                                    width: 3,
                                    //color:'#1874CD',
                                    shadowColor: 'rgba(0,0,0,0.4)',
                                    shadowBlur: 10,
                                    shadowOffsetY: 10                          
                                }
                            }   
                        },
                        data:data7
                        //data:[['1月21日',1981],['1月22日',1982],['1月23日',1983],['1月27日',1984],['1月25日',1985],['1月25日',1986],['1月27日',1987],['1月29日',1988],['1月30日',2001]]
                    },
                    {
                        name: '开花始期',
                        type: 'line',
                        smooth: true,
                        itemStyle:{
                            normal: {
                                //color:'#1874CD',
                                lineStyle: {                      
                                    width: 3,
                                    //color:'#1874CD',
                                    shadowColor: 'rgba(0,0,0,0.4)',
                                    shadowBlur: 10,
                                    shadowOffsetY: 10                          
                                }
                            }   
                        },
                        data:data8
                        //data:[['2月21日',1982],['2月22日',1983],['2月23日',1983],['2月27日',1984],['2月25日',1988],['2月25日',1989],['2月27日',1990],['2月28日',1995],['2月21日',2000]]
                    },
                    {
                        name: '开花盛期',
                        type: 'line',
                        smooth: true,
                        itemStyle:{
                            normal: {
                                //color:'#1874CD',
                                lineStyle: {                      
                                    width: 3,
                                    //color:'#1874CD',
                                    shadowColor: 'rgba(0,0,0,0.4)',
                                    shadowBlur: 10,
                                    shadowOffsetY: 10                          
                                }
                            }   
                        },
                        data:data9
                        //data:[['3月21日',1982],['3月22日',1983],['3月23日',1983],['3月27日',1984],['3月25日',1988],['3月25日',1989],['3月27日',1990],['3月29日',1995],['3月30日',2000]]
                    },
                    {
                        name: '开花末期',
                        type: 'line',
                        smooth: true,
                        itemStyle:{
                            normal: {
                                //color:'#1874CD',
                                lineStyle: {                      
                                    width: 3,
                                    //color:'#1874CD',
                                    shadowColor: 'rgba(0,0,0,0.4)',
                                    shadowBlur: 10,
                                    shadowOffsetY: 10                          
                                }
                            }   
                        },
                        data:data10
                        //data:[['4月21日',1982],['4月22日',1983],['4月23日',1983],['4月27日',1984],['4月25日',1988],['4月25日',1989],['4月27日',1990],['4月29日',1995],['4月30日',2000]]
                    },
                    {
                        name: '第二次开花期',
                        type: 'line',
                        smooth: true,
                        itemStyle:{
                            normal: {
                                //color:'#1874CD',
                                lineStyle: {                      
                                    width: 3,
                                    //color:'#1874CD',
                                    shadowColor: 'rgba(0,0,0,0.4)',
                                    shadowBlur: 10,
                                    shadowOffsetY: 10                          
                                }
                            }   
                        },
                        data:data11
                        //data:[['5月21日',1982],['5月22日',1983],['5月23日',1983],['5月27日',1984],['5月25日',1988],['5月25日',1989],['5月27日',1990],['5月29日',1995],['5月30日',2000]]
                    },
                    {
                        name: '果实成熟期',
                        type: 'line',
                        smooth: true,
                        itemStyle:{
                            normal: {
                                //color:'#1874CD',
                                lineStyle: {                      
                                    width: 3,
                                    //color:'#1874CD',
                                    shadowColor: 'rgba(0,0,0,0.4)',
                                    shadowBlur: 10,
                                    shadowOffsetY: 10                          
                                }
                            }   
                        },
                        data:data12
                        //data:[['6月21日',1982],['6月22日',1983],['6月23日',1983],['6月27日',1984],['6月25日',1988],['6月25日',1989],['6月27日',1990],['6月29日',1995],['6月30日',2000]]
                    },
                    {
                        name: '果实脱落开始期',
                        type: 'line',
                        smooth: true,
                        itemStyle:{
                            normal: {
                                //color:'#1874CD',
                                lineStyle: {                      
                                    width: 3,
                                    //color:'#1874CD',
                                    shadowColor: 'rgba(0,0,0,0.4)',
                                    shadowBlur: 10,
                                    shadowOffsetY: 10                          
                                }
                            }   
                        },
                        data:data13
                        //data:[['7月21日',1982],['7月22日',1983],['7月23日',1983],['7月27日',1984],['7月25日',1988],['7月25日',1989],['7月27日',1990],['7月29日',1995],['7月30日',2000]]
                    },
                    {
                        name: '果实脱落末期',
                        type: 'line',
                        smooth: true,
                        itemStyle:{
                            normal: {
                                //color:'#1874CD',
                                lineStyle: {                      
                                    width: 3,
                                    //color:'#1874CD',
                                    shadowColor: 'rgba(0,0,0,0.4)',
                                    shadowBlur: 10,
                                    shadowOffsetY: 10                          
                                }
                            }   
                        },
                        data:data14
                        //data:[['8月21日',1982],['8月22日',1983],['8月23日',1983],['8月27日',1984],['8月25日',1988],['8月25日',1989],['8月27日',1990],['8月29日',1995],['8月30日',2000]]
                    },
                    {
                        name: '叶开始变色期',
                        type: 'line',
                        smooth: true,
                        itemStyle:{
                            normal: {
                                //color:'#1874CD',
                                lineStyle: {                      
                                    width: 3,
                                    //color:'#1874CD',
                                    shadowColor: 'rgba(0,0,0,0.4)',
                                    shadowBlur: 10,
                                    shadowOffsetY: 10                          
                                }
                            }   
                        },
                        data:data15
                        //data:[['9月21日',1982],['9月22日',1983],['9月23日',1983],['9月27日',1984],['9月25日',1988],['9月25日',1989],['9月27日',1990],['9月29日',1995],['9月30日',2000]]
                    },
                    {
                        name: '叶全部变色期',
                        type: 'line',
                        smooth: true,
                        itemStyle:{
                            normal: {
                                //color:'#1874CD',
                                lineStyle: {                      
                                    width: 3,
                                    //color:'#1874CD',
                                    shadowColor: 'rgba(0,0,0,0.4)',
                                    shadowBlur: 10,
                                    shadowOffsetY: 10                          
                                }
                            }   
                        },
                        data:data16
                        //data:[['10月21日',1982],['10月22日',1983],['10月23日',1983],['10月27日',1984],['10月25日',1988],['10月25日',1989],['10月27日',1990],['10月29日',1995],['10月30日',2000]]
                    },
                    {
                        name: '开始落叶期',
                        type: 'line',
                        smooth: true,
                        itemStyle:{
                            normal: {
                                //color:'#1874CD',
                                lineStyle: {                      
                                    width: 3,
                                    //color:'#1874CD',
                                    shadowColor: 'rgba(0,0,0,0.4)',
                                    shadowBlur: 10,
                                    shadowOffsetY: 10                          
                                }
                            }   
                        },
                        data:data17
                        //data:[['11月21日',1982],['11月22日',1983],['11月23日',1983],['11月27日',1984],['11月25日',1988],['11月25日',1989],['11月27日',1990],['11月29日',1995],['11月30日',2000]]
                    },
                    {
                        name: '落叶末期',
                        type: 'line',
                        smooth: true,
                        itemStyle:{
                            normal: {
                                //color:'#1874CD',
                                lineStyle: {                      
                                    width: 3,
                                    //color:'#1874CD',
                                    shadowColor: 'rgba(0,0,0,0.4)',
                                    shadowBlur: 10,
                                    shadowOffsetY: 10                          
                                }
                            }   
                        },
                        data:data18
                        //data:[['12月21日',1982],['12月22日',1983],['12月23日',1983],['12月27日',1984],['12月25日',1988],['12月25日',1989],['12月27日',1990],['12月29日',1995],['12月30日',2000]]
                    },
                ]
            };

            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
        }
    </script>
}